body
     {background-color: rgb(74, 74, 228); }
header
     {text-align: center;
     border-style: double;
     border-radius: 25%; }
a.university-link
     {text-align: center;
     color: white;}
.university-link:hover {
    background-color: rgba(217, 217, 30, 0.815);}
ul 
     {background-color: rgb(0, 187, 255);
      padding: 20px;
      margin: 20px;
      border-radius: 10px; }
table, th, td
     {border: 5px;
     border-style: groove;
     border-collapse: collapse; 
     text-align: center;
     height: 10px;
     width: 50%; }
form
     {background-color:rgb(0, 187, 255) ;
      padding: 20px;
      margin: 20px;
      border-radius: 10px }
label[for="name"], label[for="email"], label[for="phone"], label[for="date of birth"]
     { display: block;
     margin-bottom: 5px;
     font-weight: bold; }
button 
     {background-color: #45546c; color: white;}
input[type="submit"]
     {background-color: #046f4c; color: white;}
